/* Variables */
@import 'functions';

// colors
// 
$main-color: #E94D5B;
$grey-icon: #9FA8B5;
$body-bg: #F1F3F6;
$light-box-bg: #f6f6f6;
$black-color: #303640;
$blue-color: #48A5D7;
$grey-color: #8A92A6;

// fonts
// 
$font-x-small: rem(12);
$font-small: rem(13);
$font-medium: rem(14);
$font-medium-2: rem(15);
$font-big: rem(16);
$font-large: rem(17);

